body {
  background-image: url("../css/background-image/ocean-wallpaper-hd-5.jpg");
}
.image-container {
  flex-flow: row wrap;
  max-width: 900px;
  padding-bottom: 20px;
}
.image-container .thumb {
  max-width: 120px;
  height: 120px;
  flex: 1 0 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(0deg);
  background-color: transparent;
  border: 0;
}
.image-container .thumb:hover {
  border-radius: 5px;
}